{% extends "base.html" %}
{% block title %}Contactanos{% endblock title %}
{% load static %}
{% block contenido %}


<!-- CSS for intl-tel-input -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/css/intlTelInput.css">



<div class="pagetitle">
    <h1>Contactanos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section contact">
    <div class="row gy-4">
        <div class="col-xl-6">
            <div class="card p-4">
                <form id="contactForm" role="form" method="POST" action="{% url 'app_contactos:view_enviar_consulta_ajax' %}">
                    {% csrf_token %}
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombres" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellidos" required>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="email" placeholder="e-mail" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" class="form-control" name="empresa" placeholder="Nombre de su empresa u organización" required>
                        </div>
                        
                        <div class="col-md-6">
                            <input type="tel" class="form-control" name="telefono" id="telefono"  value="" required>
                 
                        </div>

                        <div class="col-md-7">
                            <select class="form-select" aria-label="Default select example" placeholder="Producto" name="producto" required>
                                <option value="" disabled selected>Elige el producto relacionado a tu consulta</option>
                                {% for producto in productos %}
                                <option value="{{ producto.id }}">{{ producto.descripcion_producto }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-5">
                            <select class="form-select" aria-label="Default select example" name="categoria_consulta" required>
                                <option value="" disabled selected>¿Sobre que es tu consulta?</option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria.descripcion_categoria }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-md-12">
                            <textarea class="form-control" name="descripcion_incidente" rows="6" placeholder="Escribe tu consulta aquí." required></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-primary">Enviar</button>
                        </div>
                    </div>
                </form>
      
            </div>
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box card">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <p>A108 Adam Street,<br>New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card">
                        <i class="bi bi-telephone"></i>
                        <h3>Call Us</h3>
                        <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card">
                        <i class="bi bi-envelope"></i>
                        <h3>Email Us</h3>
                        <p>info@example.com<br>contact@example.com</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box card">
                        <i class="bi bi-clock"></i>
                        <h3>Open Hours</h3>
                        <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- MODAL: CONFIRMACIÓN DE ENVÍO -->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmacionLabel">Gracias por utilizar nuestro servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Desea enviar la información o seguir editando?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No, seguir editando</button>
                <button type="button" class="btn btn-outline-primary" id="confirmarEnvio">Enviar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL: AGRADECIMIENTO -->
<div class="modal fade" id="modalAgradecimiento" tabindex="-1" aria-labelledby="modalAgradecimientoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgradecimientoLabel">Gracias por contactarnos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tu consulta ha sido enviada exitosamente. Uno de nuestros agentes se comunicara contigo por correo electronico lo mas pronto posible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" id="cerrarModal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


</section>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('contactForm');
        var modalConfirmacion = new bootstrap.Modal(document.getElementById('modalConfirmacion'));
        var modalAgradecimiento = new bootstrap.Modal(document.getElementById('modalAgradecimiento'));
        var isSubmitting = false;  // Bandera para evitar múltiples envíos
        var submitButton = form.querySelector('button[type="submit"]');  // Asumiendo que el botón de envío es el único con este tipo
        var spinnerDiv = document.getElementById('spinner-div'); // Referencia al spinner
    
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form from submitting normally
    
            if (isSubmitting) return;  // No hacer nada si ya se está enviando
    
            isSubmitting = true;  // Establecer la bandera para evitar múltiples envíos
            submitButton.disabled = true;  // Deshabilitar el botón de envío
    
            // Show the confirmation modal
            modalConfirmacion.show();
        });
    
        document.getElementById('confirmarEnvio').addEventListener('click', function() {
            modalConfirmacion.hide();
            
            // Mostrar el spinner cuando el modal de confirmación se oculta
            spinnerDiv.style.display = 'flex';
            
            var formData = new FormData(form);
    
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Show the thank you modal
                    modalAgradecimiento.show();
                    
                    // Hide the spinner and reset the form after 3 seconds
                    setTimeout(function() {
                        modalAgradecimiento.hide();
                        form.reset();  // Clear the form
                        spinnerDiv.style.display = 'none';  // Hide the spinner
                        isSubmitting = false;  // Rehabilitar el envío
                        submitButton.disabled = false;  // Habilitar el botón de envío
                    }, 4000);
                } else {
                    console.error('Error:', data.error);
                    spinnerDiv.style.display = 'none'; // Hide the spinner
                    isSubmitting = false;  // Rehabilitar el envío
                    submitButton.disabled = false;  // Habilitar el botón de envío
                }
            })
            .catch(error => {
                console.error('Error:', error);
                spinnerDiv.style.display = 'none'; // Hide the spinner
                isSubmitting = false;  // Rehabilitar el envío
                submitButton.disabled = false;  // Habilitar el botón de envío
            });
        });
    
        // Restablecer la bandera isSubmitting y habilitar el botón de envío cuando se cierra el modal de confirmación
        document.getElementById('modalConfirmacion').addEventListener('hidden.bs.modal', function() {
            if (isSubmitting) {
                isSubmitting = false;
                submitButton.disabled = false;  // Habilitar el botón de envío si el modal se cierra
            }
        });
    });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/js/intlTelInput.min.js"></script>
    <script>
      const input = document.querySelector("#telefono");
      window.intlTelInput(input, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/js/utils.js",
        initialCountry: "auto",
        geoIpLookup: callback => {
          fetch("https://ipapi.co/json")
            .then(res => res.json())
            .then(data => callback(data.country_code))
            .catch(() => callback("hn"));
        },
        onlyCountries: ["gt", "hn", "sv", "ni", "cr", "pa", "bz"],
        strictMode: true,
      });
    </script>
{% endblock contenido %}
