<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- INICIO | CONTENEDOR: #main -->
  <main>
    <div class="container">
      <!-- Resto de tu estructura HTML -->
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <!-- INICIO | LOGO -->
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets/img/fabicon.png' %}" alt="">
                  <span class="d-none d-lg-block">ASICA Help Desk</span>
                </a>
              </div>
          <!-- FINAL | LOGO -->


          <!-- INICIO | CONTENEDOR DEL FORMULARIO -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Cambio de contraseña</h5>

                  </div>

                  {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                  {% endif %}
                  
                  <form id="password-reset-form" action="{% url 'app_autenticacion:funcion_submit_formulario_forgot_password_ajax' token=token %}" class="row g-3 needs-validation" novalidate method="post">
                   {% csrf_token %}

                   <!-- INICIO | INPUT CORREO  -->
                    <div class="col-12">
                      <label for="usernameOrEmail" class="form-label">Correo electrónico</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="email" class="form-control" id="usernameOrEmail" required>
                        <div class="invalid-feedback">Por favor, introduce tu correo electrónico.</div>
                      </div>
                    </div>
                    <!-- FINAL | INPUT CORREO  -->


                    <!-- INICIO | REQUISITOS DE SEGURIDAD PARA CONTRASEÑA -->
                    <div class="icon-label-container">
                      <i id="uppercase-icon" class="bi bi-x-circle-fill invalid"></i>
                      <label id="uppercase-label" class="text-left small">Uso de mayúsculas.</label>
                    </div>
                    <div class="icon-label-container">
                      <i id="lowercase-icon" class="bi bi-x-circle-fill invalid"></i>
                      <label id="lowercase-label" class="text-left small">Uso de minúsculas.</label>
                    </div>
                    <div class="icon-label-container">
                      <i id="symbol-icon" class="bi bi-x-circle-fill invalid"></i>
                      <label id="symbol-label" class="text-left small">Uso de símbolos.</label>
                    </div>
                    <div class="icon-label-container">
                      <i id="length-icon" class="bi bi-x-circle-fill invalid"></i>
                      <label id="length-label" class="text-left small">Mínimo de 8 caracteres.</label>
                    </div>
                    <div class="icon-label-container">
                      <i id="number-icon" class="bi bi-x-circle-fill invalid"></i>
                      <label id="number-label" class="text-left small">Uso mínimo de 2 números.</label>
                    </div>

                    <!-- FINAL | REQUISITOS DE SEGURIDAD PARA CONTRASEÑA -->
                  

                    <!-- INICIO | NUEVA CONTRASEÑA Y CONFIRMACION -->
                    <div class="col-12">
                      <label for="password_nueva" class="form-label">Introduce una nueva contraseña:</label>
                      <input type="password" name="password_nueva" class="form-control" id="password_nueva" required>
                      <div class="invalid-feedback">Por favor, introduce tu nueva contraseña.</div>
                    </div>

                    <div class="col-12">
                      <label for="password_confirmacion" class="form-label">Confirma tu nueva contraseña</label> 
                      <i id="password-match-icon" class="bi bi-x-circle-fill invalid"></i>
                      <input type="password" name="password_confirmacion" class="form-control" id="password_confirmacion" required>
                      <div class="invalid-feedback">Por favor, confirma tu nueva contraseña.</div>
                    </div>
                    <!-- FINAL | NUEVA CONTRASEÑA Y CONFIRMACION -->  

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Aceptar</button>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </main> <!-- FINAL | CONTENEDOR: #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- INICIO | MODAL: ALERTA DE VALIDACIÓN -->
<div class="modal fade" id="modalValidacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalMessage">
              <!-- El mensaje se actualizará dinámicamente -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
<!-- FINAL | MODAL: ALERTA DE VALIDACIÓN -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
<!-- Custom JS: Validación de Contraseña -->
<script>
  // Se ejecuta cuando el documento HTML se ha cargado por completo
  document.addEventListener('DOMContentLoaded', function() {
    // Se obtienen los elementos del DOM que representan los campos de contraseña
    const passwordNueva = document.getElementById('password_nueva');
    const passwordConfirmacion = document.getElementById('password_confirmacion');
    const passwordMatchIcon = document.getElementById('password-match-icon'); // Icono que indica si las contraseñas coinciden

    // Expresiones regulares para validar los requisitos de la contraseña
    const uppercaseRegex = /[A-Z]/; // Debe tener al menos una letra mayúscula
    const lowercaseRegex = /[a-z]/; // Debe tener al menos una letra minúscula
    const numberRegex = /\d/g; // Debe tener al menos dos dígitos
    const symbolRegex = /[\W_]/; // Debe tener al menos un símbolo o guion bajo

    // Función que valida la contraseña según los requisitos definidos
    function validatePassword() {
      const password = passwordNueva.value;
      const isUppercase = uppercaseRegex.test(password);
      const isLowercase = lowercaseRegex.test(password);
      const isNumber = (password.match(numberRegex) || []).length >= 2; // Verifica que haya al menos dos números
      const isSymbol = symbolRegex.test(password);
      const isLengthValid = password.length >= 8; // Longitud mínima de la contraseña

      // Actualiza los iconos de validación en función del cumplimiento de cada requisito
      document.getElementById('uppercase-icon').className = isUppercase ? 'bi bi-check-circle-fill valid' : 'bi bi-x-circle-fill invalid';
      document.getElementById('lowercase-icon').className = isLowercase ? 'bi bi-check-circle-fill valid' : 'bi bi-x-circle-fill invalid';
      document.getElementById('symbol-icon').className = isSymbol ? 'bi bi-check-circle-fill valid' : 'bi bi-x-circle-fill invalid';
      document.getElementById('length-icon').className = isLengthValid ? 'bi bi-check-circle-fill valid' : 'bi bi-x-circle-fill invalid';
      document.getElementById('number-icon').className = isNumber ? 'bi bi-check-circle-fill valid' : 'bi bi-x-circle-fill invalid';
    }

    // Función que verifica si las contraseñas ingresadas coinciden
    function checkPasswordMatch() {
      if (passwordNueva.value && passwordNueva.value === passwordConfirmacion.value) {
        passwordConfirmacion.setCustomValidity(''); // Contraseñas coinciden, es válido
        passwordMatchIcon.className = 'bi bi-check-circle-fill valid'; // Cambia el icono a válido
      } else {
        passwordConfirmacion.setCustomValidity('Las contraseñas no coinciden'); // Contraseñas no coinciden, muestra mensaje de error
        passwordMatchIcon.className = 'bi bi-x-circle-fill invalid'; // Cambia el icono a inválido
      }
    }

    // Escucha los eventos de entrada en los campos de contraseña y valida en tiempo real
    passwordNueva.addEventListener('input', function() {
      validatePassword();
      checkPasswordMatch();
    });

    // Valida si las contraseñas coinciden al escribir en el campo de confirmación
    passwordConfirmacion.addEventListener('input', checkPasswordMatch);
  });

  // Se ejecuta cuando el documento HTML se ha cargado por completo
  document.addEventListener('DOMContentLoaded', function() {
    // Agrega un manejador de eventos para la sumisión del formulario
    document.getElementById('password-reset-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Evita que el formulario se envíe de la manera tradicional
    
      const form = event.target;
      const formData = new FormData(form); // Recoge todos los datos del formulario
    
      // Envía el formulario usando AJAX
      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest', // Indica que es una petición AJAX
          'X-CSRFToken': formData.get('csrfmiddlewaretoken') // Añade el token CSRF para proteger contra ataques CSRF
        }
      })
      .then(response => response.json()) // Convierte la respuesta a JSON
      .then(data => {
        if (data.success) {
          // Si la respuesta es exitosa, redirige a la vista de login
          window.location.href = '{% url "app_autenticacion:login_view" %}';
        } else {
          // Si hay un error, muestra el mensaje de error en el modal
          const modalMessage = document.getElementById('modalMessage');
          modalMessage.textContent = data.error;
    
          // Muestra el modal con el mensaje de error
          const modalValidacion = new bootstrap.Modal(document.getElementById('modalValidacion'));
          modalValidacion.show();
        }
      })
      .catch(error => console.error('Error:', error)); // Maneja cualquier error en la petición
    });
  });
</script>
</body>

</html>